p.tag-sz20
{
    font-size: 20px;
    margin-top: 0px;
}
p.tag-sz17
{
    font-size: 17px;
    margin-top: 4px;
}
p.tag-sz12
{
    font-size: 12px;
    margin-top: 10px;
}
.seo-h1-title {
    font-size: 35px;
    font-style: italic;
}
.seo-h2 {
    font-size: 18px;
}
.seo-h3-signature {
    font-size: 20px;
    font-style: italic;
}