#TB_overlay {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
  -moz-opacity: 0.25;
  -khtml-opacity: 0.25;
  opacity: 0.25;
}
.vm_cart_button {
  _position: absolute;
  z-index: 21;
  position: relative;
  left: 128px;
  top: 120px;
  width: 32px;
  height: 150px;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  display: block;
  background: url(../vm_cart_new.png) no-repeat top left;
  text-decoration: none;
  cursor: pointer;
}
.vm_cart_button span {
  display: block;
  padding: 47px 0px 0px 4px;
  text-align: center;
  color: #ff6116;
}
.vm_cart_window {
  _position: absolute;
  position: absolute;
  z-index: 920;
  left: 118px;
  top: 395px;
  background: url(../basket_bg.png) left top no-repeat;
  width: 1012px;
  height: auto;
  display: none;
  overflow: hidden;
}
.vm_cart_window * {
  color: #866076;
}
.vm_cart_window .title {
  font-size: 20px;
  display: block;
  text-align: left;
  font-style: normal;
  padding: 0px;
  margin: 0px;
  padding-bottom: 20px;
}
.vm_cart_window .vm_cart_window_bg {
  position: absolute;
  z-index: -1;
  background: url(../basket_bg_fill.png) left top repeat-y;
  width: 1012px;
}
.vm_cart_window .vm_cart_close {
  margin: 20px 0px 0px 920px;
}
.vm_cart_window .vm_cart_list {
  position: relative;
  width: 470px;
  height: auto;
  /*    height: 454px;*/
  margin: 15px 30px 30px 72px;
  padding: 0px;
  float: left
  /* Итого */
}
.vm_cart_window .vm_cart_list .ice-basket-row {
  display: block;
  clear: both;
  padding-bottom: 15px;
}
.vm_cart_window .vm_cart_list .ice-basket-row #minus {
  width: 18px;
  height: 18px;
  background: url(../minus.png) left top no-repeat;
  margin-right: 2px;
  float: left;
  cursor: pointer;
}
.vm_cart_window .vm_cart_list .ice-basket-row #plus {
  width: 18px;
  height: 18px;
  background: url(../plus.png) left top no-repeat;
  float: left;
  margin-right: 2px;
  cursor: pointer;
}
.vm_cart_window .vm_cart_list .ice-basket-row #quantity {
  float: left;
  margin-right: 2px;
}
.vm_cart_window .vm_cart_list .ice-basket-row #quantity input {
  width: 30px;
  height: 16px;
  font-size: 14px;
  color: #a58798;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.vm_cart_window .vm_cart_list .ice-basket-row #title {
  float: left;
  margin-left: 5px;
  margin-right: 2px;
  width: 210px;
  font-size: 14px;
  color: #ff6116;
  white-space: nowrap;
  text-align: left;
}
.vm_cart_window .vm_cart_list .ice-basket-row #weight {
  font-size: 12px;
  width: 90px;
  float: left;
  margin-right: 2px;
}
.vm_cart_window .vm_cart_list .ice-basket-row #price {
  width: 70px;
  float: left;
  margin-right: 2px;
}
.vm_cart_window .vm_cart_list .ice-basket-row #delete {
  background: transparent;
  border: 0px none;
  font-size: 20px;
  color: #ff6116;
  cursor: pointer;
  line-height: 13px;
}
.vm_cart_window .vm_cart_list #total_block {
  display: block;
  width: 370px;
  padding-left: 80px;
  padding-top: 10px;
}
.vm_cart_window .vm_cart_list #total_block #person_title {
  float: left;
  font-size: 14px;
  color: #a58798;
  padding-top: 8px;
}
.vm_cart_window .vm_cart_list #total_block #person_amount {
  padding-top: 8px;
  padding-left: 4px;
}
.vm_cart_window .vm_cart_list #total_block #person_amount input {
  width: 30px;
  height: 16px;
  font-size: 14px;
  color: #a58798;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.vm_cart_window .vm_cart_list #total_block #total_title {
  display: block;
  font-size: 20px;
  color: #ff6116;
  padding-top: 6px;
  font-weight: bold;
  text-align: right;
}
.vm_cart_window .vm_cart_list #total_block #total_amount {
  display: block;
  font-size: 20px;
  color: #866076;
  padding-top: 6px;
  font-weight: bold;
  text-align: right;
}
.vm_cart_window .vm_cart_form {
  width: 370px;
  /*height: 454px;*/
  height: auto;
  margin: 15px 30px 30px 602px;
  padding: 0px;
}
.vm_cart_window .vm_cart_form label {
  display: block;
  width: 120px;
  height: 22px;
  vertical-align: top;
  text-align: left;
  font-size: 15px;
  color: #866076;
  float: left;
  padding: 0px;
  margin: 0px;
}
.vm_cart_window .vm_cart_form input,
.vm_cart_window .vm_cart_form textarea {
  width: 184px;
  border: 1px solid #e2d5da;
  margin-bottom: 3px;
}
.vm_cart_window .vm_cart_form input {
  height: 22px;
}
.vm_cart_window .vm_cart_form textarea {
  height: 82px;
}
.vm_cart_window .vm_cart_form #result {
  display: block;
  height: 30px;
  vertical-align: middle;
  font-size: 12px;
  color: #ff6116;
}
.vm_cart_window .vm_cart_form .formerror {
  border: #FF4040 solid 1px;
}
.vm_cart_window .vm_cart_form #submitBtn {
  display: block;
  text-align: right;
  margin-right: 65px;
}
.vm_cart_window .vm_cart_form #submitBtn input[type='button'] {
  width: 120px;
  height: 40px;
  border: 0px none;
  background: url(../send_inactive.png) left top no-repeat;
  cursor: pointer;
}
.vm_cart_window .vm_cart_form #submitBtn .activeBtn {
  background: url(../send_active.png) left top no-repeat !important;
}
.vm_cart_window .vm_cart_window_bottom {
  background: url(../basket_bg_down.png) left top no-repeat;
  width: 1012px;
  height: 18px;
}
