* {
    margin:0;
    padding:0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
html{
    width: 1280px !important;
    height: 100%;
    margin: 0px auto;
    text-align:left;
    background-color: #eedfc3 !important;
}
.bg_desert { background: url(../images/bg_desert.jpg) top center repeat-y; }
.bg_drink  { background: url(../images/bg_drink.jpg) top center repeat-y; }
.bg_lapsha { background: url(../images/bg_lapsha.jpg) top center repeat-y; }
.bg_pizza  { background: url(../images/bg_pizza.jpg) top center repeat-y; }
.bg_roll   { background: url(../images/bg_roll.jpg) top center repeat-y; }
.bg_salat  { background: url(../images/bg_salat.jpg) top center repeat-y; }
.bg_soup   { background: url(../images/bg_soup.jpg) top center repeat-y; }
.bg_vok    { background: url(../images/bg_vok.jpg) top center repeat-y; }

/*оформление заднего плана и форматирование текста сайта и межстрочного расстояния*/
body, table {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 13px;
    line-height: 1.3;
    color: #4b4b4b;
}
body {
    margin: 0 auto;
}
/*стандартные оформление ссылок и заголовков*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

/*оформление всех ссылок на сайте*/
a {
    text-decoration: underline;
    color:#866076;
}
/*непосещенная ссылка*/
a:link {
    text-decoration: underline;
    color: #866076;
}
/*посещенная ссылка*/
a:visited, a.visited {
    color:#866076;
}
/*ссылка при наведении*/
a:hover, a.hover, li.active > a, a.active {
    text-decoration: none;
    color: #ff6116;
}

/*заголовки 1 уровня*/
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover{
    font: bold 22px;
    font-style:italic;
    color: #30b2cf;
    text-align:left;
}
/*заголовки 2 уровня*/
h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover{
    font-size:20px;
    color: #3b98b0;
    font-style:italic;
    text-align:left;
}
/*заголовки 3 уровня*/
h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover{
    font-size: 18px;
    color: #82b5bf;
    text-align:left;
}
/*заголовки 4-6 уровня*/
h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover,
h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover,
h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover{
    font-size: 125%;
    color: #3b98b0;
}
/*оформление изображений в контенте*/
a img {
    border: none;
}
p img {
    margin-right:10px;
}

/*оформление абзацев текста*/
p {
    margin: 5px 0 10px 0;
}


/*форматирование списков во всех модулях*/
ul
{
  margin: 0;
  padding: 0;
}
ul li
{
    margin: 0;
    line-height: normal;
    padding: 0;
    list-style: none;
}


/*Верх страницы*/
#header
{
    width: 1280px;
    height: 285px;
    background: url(../images/bg_top.jpg) no-repeat;
}

#header #top_line
{
    width: 960px;
    height: 55px;
    left: 160px;
    top: 230px;
    position: relative;
    margin: 0px;
    padding: 0px;
}

#header #logo
{
    position: absolute;
    left: 190px;
    top: 25px;
    background:transparent;
    width: 180px;
    height: 180px;
    display: block;
}

#header #banner
{
    position: absolute;
    left: 420px;
    top: -90px;
    background: transparent;
    width: 550px;
    height: 400px;
    display: block;
}

#header #banner
{
    top: 0px;
    height: 300px;
    background: url(../images/ddve_fish.png) left top no-repeat;
}

#header #calendar
{
    position: absolute;
    left: 940px;
    top: 30px;
    background: transparent;
    width: 190px;
    height: 181px;
    display: block;
}

/*Верхние модули*/
.moduletable_phone
{
    display: block;
    height: 100%;
    width: 220px;   /* 260 - 40 */
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    padding-left: 40px;
    padding-top: 2px;
    float: left;
}
.moduletable_phone *
{
    margin: 0px;
    padding: 0px;
}

/*Модуль заказа звонка*/
.moduletable_zakaz_zvonka
{
    display: block;
    height: 100%;
    width: 350px;
    text-align: center;
    float: left;
}
.moduletable_zakaz_zvonka *
{
    margin: 0px;
    padding: 0px;
}
.moduletable_zakaz_zvonka input#zakaz_zvonka
{
    display: block;
    font-size: 15px;
    color: #866076;
    width: 132px;
    height: 22px;
}
.moduletable_zakaz_zvonka #zz1
{
    display: block;
    width: 140px;
    height: 55px;
    margin: 0px;
    margin-left: 50px;
    padding: 0px;
    padding-top: 14px;
    float: left;
    text-align: center;
}
.moduletable_zakaz_zvonka #zz2
{
    display: block;
    width: 120px;
    height: 55px;
    margin: 0px;
    padding: 0px;
    padding-top: 12px;
    float: left;
}

/*Модуль карточек*/
.moduletable_cards{
    display: block;
    height: 100%;
    width: 150px;
    text-align: center;
    float: left;
    position: relative;
    top: 10px;
}


/*Время работы*/
.moduletable_calendar
{
    display: block;
    width: 200px;
    height: 100%;
    float: left;
}
.moduletable_calendar #days
{
}
.moduletable_calendar #days .day
{
    float: left;
    padding-right: 10px;
    padding-top: 10px;
}
.moduletable_calendar #days .day,
.moduletable_calendar #days .day a
{
    color: #a58798;
    font-size: 12px;
    text-decoration: none;
}
.moduletable_calendar #days .day a
{
    cursor:pointer;
}
.moduletable_calendar #time
{
    color: #fff;
}
.moduletable_calendar #days .active
{
    color: #fff !important;
}
/* 198 162 */




/**
 * add to seo editor styles
 */
.moduletable_seo_text_main {
    font-size: 15px;
    color: #7b635e;
    width: 770px;
    margin-left: 255px;
    text-align: justify;
    padding-bottom: 100px;
}
.moduletable_seo_text_main p,
.moduletable_seo_text_main h1 {
    text-indent: 40px;
    line-height: 1.3em;
    margin: 0px;
    padding-top: 1em;
}
.moduletable_seo_text_main li {
    list-style: disc;
    margin-left: 58px;
}
.moduletable_seo_text_main h1 {
    font-size: 35px;
    font-style: italic;
    text-indent: 0px !important;
    text-align: left;
    color: #7b635e;
}
.seo-h2 {
}
.seo-h3-signature {
    text-indent: 0px !important;
}


/* левое меню index.php?option=com_virtuemart */

/* отключаем подчеркивание на ссылках */
.moduletable_menu ul li a,
.moduletable_menu_vm ul li a
{
    text-decoration: none;
}

.moduletable_menu ul li,
.moduletable_menu_vm ul li
{
    color:#866076;
    font-size: 20px;
    padding: 0 0 25px 40px;
}

.moduletable_menu_vm ul ul {
    padding-top: 8px;
    padding-bottom: 8px;
}

.moduletable_menu_vm ul li ul li
{
    font-size: 16px;
    margin: 0px;
    padding: 12px 0 0 2px;
    width: 102px;
}
.moduletable_menu_vm .prod_name
{
    /*float: left;*/
}
.moduletable_menu_vm .prod_count
{
    font-size: 10px;
    color: #866076;
    vertical-align: super;
    display: inline-block;
}
/* Меню второго уровня */
div.submenu
{
    padding-left:15px;
    padding-top:10px;
    font-size:0.9em;
    width: 110px;
}
div.submenu * {
    text-decoration: none;
}


/* низ */
.moduletable_copy, .moduletable_authors
{
    color: #7f7f7f;
    font-size: 12px;
    margin: 0px;
    padding: 10px;
}
.moduletable_copy
{
    float:left;
}
.moduletable_authors
{
    text-align: right;
}

#vk_groups
{
    padding: 20px 0px 10px 10px;
}

/* фильтр */
.module_vm_filter
{
    font-size: 12px;
    font-weight: normal;
    color: #866076;
    padding-right: 22px;
    padding-top: 10px;
}
.module_vm_filter fieldset
{
    border: 1px solid #D1C4CB;
    border-radius: 5px;
}
.module_vm_filter .filter_form
{
    float: left;
    display: block;
    width: 600px;
    padding: 10px;
}
.module_vm_filter .filter_form input[type="checkbox"]
{
    margin-left: 10px;
}
.module_vm_filter .filter_form input[type="submit"]
{
    margin-left: 10px;
}
.module_vm_filter .filter_reset_form
{
    text-align: right;
    padding: 10px;
}
.module_vm_filter .filter_reset_form input[type="submit"]
{
}
.submit
{
    border: 1px solid #D2D2D2;
    background: #F2F2F2;
    color: black;
    padding: 0px 5px 0px 5px;
}
